.rotate{
transform: rotate(180deg);
transition: all 0.4s ease-in-out;
}
.till_rotate{
    transition: all 0.4s ease-in-out;
}
.short_div {
    max-height: 0px;
    width: 100%;
    overflow: hidden;
  }
  
  .moving_div {
    min-height: 400px; 
    width: 100%;
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(20.387113571166992px);
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .moving_div_dark {
    min-height: 400px; 
    width: 100%;
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(20.387113571166992px);
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Quotes_div {
    display: flex;
    align-items: start;
    gap: 16px;
    margin-top: 56px;
}

.dissepare {
   display: none;
}


.info_div{
    display: flex;
    flex-direction: column;
}
.info_div_clicked{
    display: flex;
    flex-direction: column;
    margin-top: 56px;
}
.movin_div_left{
    display: flex;
}
.line_div{
    width: 1px;
height: 252px;
opacity: 0.25;
background: #303030;
margin-top: 74px;
}
.line_div_dark{
    width: 1px;
height: 252px;
opacity: 0.25;
background-color: #fff;
margin-top: 74px;
}
.arrow_rotate{
transform: rotate(360deg);
}
.container{
    display: flex;
  flex-direction: column;
  max-width: 1110px;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 98px;
}
.container_clicked{
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    max-width: 1110px;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    padding-left: 10px;
    padding-right: 10px;
}

.Movin_div_left_minor{
    display: flex;
    flex-direction: column;
}
@media(max-width:800px){
    .Quotes_div{
margin-top: 80px;
    }
    .line_div{
        display: none;
    }
    .line_div_dark{
        display: none;
    }
   .container{
    padding-left: 64px;
    padding-bottom: 64px;
  }
  .container_clicked{
    padding-left: 64px;
  }
  .moving_div{ padding-left: 64px;}
  .moving_div_dark{
    padding-left: 64px;
  }
   }
   @media(max-width:635px){
   .container{
    padding-left: 24px;
    padding-bottom: 64px;
  }
  .container_clicked{
    padding-left: 40px;
  }
  .Movin_div_left_minor{
    flex-direction: row;
        align-items: center;
        justify-content: space-between;
}
.moving_div{
    min-height: 375px;
    padding-left: 0px;
}
.moving_div_dark{
    min-height: 375px;
    padding-left: 0px;
}
   }
   @media(max-width:430px){
.desktop{
    display: none;
}

   }